<div id="root" data-playas="{{ page.metafields.map_dryhood.beach_data.value | json | escape }}"></div>
<script src="{{ 'main.js' | asset_url }}" async></script>
{{ 'index-CqyPqKY1.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "templates": ["page"],
  "settings": []
}
{% endschema %}

